DB_HOST=mydb.aws.com
DB_USER=prod_user
DB_PASSWORD=secure_password_here
DB_NAME=PipeDamageMonitoringSystem
DB_PORT=3306
PORT=5007
JWT_SECRET=super_strong_secret_key_change_in_production
NODE_ENV=production